.grid-container {
  display: grid;
  grid-template-areas: ". header .";
  grid-template-rows: auto auto auto auto;
  gap: 2rem;
}
body {
  background-color: #edf2f4;
}
nav {
  background-color: #2b2d42;
}
.titles {
  font-family: "Courier New", monospace;
  font-size: 2rem;
}
.margin {
  margin: 20px;
}
.about-me {
  grid-column: 2;
  grid-row: 2 / 3;
}
.not-active {
  color: #edf2f4;
}
.round {
  border: solid 2px #2b2d42;
  border-radius: 50%;
  grid-column: 2;
  grid-row: 3 / 4;
  width: 200px;
  height: 200px;
  overflow: hidden;
  margin: auto;
}
.projects {
  display: grid;
  grid-template-areas: "pacman map eyes";
  gap: 2rem;
}
.contact-me {
  grid-column: 3;
  grid-row: 3 / 4;
}
.contact-git {
  grid-column: 1;
  grid-row: 3 / 4;
}
.header {
  grid-column: 2 / 3;
  text-align: center;
  font-family: "Courier New", monospace;
  position: relative;
  font-size: 4rem;
  margin: 10px;
}
